body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #333;
  color: #fff;
  padding-top: 10px;
  min-height: 70px;
  border-bottom: #77aaff 3px solid;
}

header .logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
}

header nav {
  float: right;
  margin-top: 10px;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.hero {
  background: url('hero.jpg') no-repeat center center/cover;
  height: 500px;
  text-align: center;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size:22px;
}
.immg{
  opacity: -1px
  ;
}

.hero h2 {
  font-size: 50px;
  margin: 0;
}

.hero p {
  font-size: 20px;
  margin: 10px 0;
}

.hero .btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #77aaff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.hero .btn:hover {
  background: #5599ff;
}

.products {
  background: #fff;
  padding: 50px 0;
}

.products h2 {
  text-align: center;
  margin-bottom: 30px;
}

.product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-item {
  background: #f9f9f9;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  width: 30%;
  box-sizing: border-box;
}

.product-item img {
  max-width: 100%;
  height: auto;
}

.product-item h3 {
  margin: 20px 0 10px;
}

.product-item p {
  color: #77aaff;
  font-size: 22px;
  margin-bottom: 20px;
}

.product-item .btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #77aaff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.product-item .btn:hover {
  background: #5599ff;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}
